header {
    h1 a {
        width: 80px;
        height: 48.57px;
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png");
        background-size: contain;
        background-repeat: no-repeat;
        @include hide-text;
    }

    img {
        width: 80px;
    }

    ul {
        font-size: 20px;
        @include opacity;
    }
}